# Node.js
node_modules/
npm-debug.log
yarn-error.log
.npm

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# Misc
.DS_Store
.env
.env.local
.env.development
.env.test
.env.production
*.log
